---
import { Image } from 'astro:assets';

import escudo from '../images/escudo.png';
import uscLogo from '../images/usc logo.png';
import firmaSideral from '../images/firma sideral.png';
import firmaJona from '../images/firma jona.png';
import dayjs from 'dayjs';

interface Props {
	names?: string;
	carrier?: string;
	date: dayjs.Dayjs;
}

const { names, carrier, date } = Astro.props;
---

<div
	id='diplome'
	class='max-w-screen-xl mx-auto p-4 text-2xl font-paragraph text-center select-none'
>
	<header class='flex justify-between items-center'>
		<div class='flex flex-col items-center gap-2'>
			<small class='block font-bold text-base'>República del Perú</small>
			<Image class='w-36' src={escudo} alt='Escudo del Perú' width={150} />
		</div>
		<div>
			<h1 class='text-6xl font-gothic mb-5'>Universidad Sideral Carrión</h1>
			<span>Por el presente certifica que</span>
		</div>
		<Image class='w-36' src={uscLogo} alt='Escudo USC' width={150} />
	</header>
	<main class='mt-10'>
		{
			names ? (
				<b class='block text-4xl text-center my-5 w-full font-title font-bold tracking-tighter lg:text-5xl'>
					{names}
				</b>
			) : (
				<input
					id='names'
					type='text'
					class='p-0 text-4xl text-center my-5 w-full font-title font-bold tracking-tighter bg-transparent lg:text-5xl focus:outline-none'
					placeholder='[Nombres y apellidos]'
					name='names'
					autocomplete='off'
				/>
			)
		}
		<p>
			ha superado los estudios correspondientes organizados por la Universidad
			Sideral Carrión, conforme a un plan de estudios aprobados por el
			Ministerio de Educación, expide el presente título universitario oficial
			de
		</p>
		{
			carrier ? (
				<b class='block text-4xl text-center my-5 w-full font-title  font-bold tracking-tighter lg:text-5xl'>
					{carrier}
				</b>
			) : (
				<input
					id='carrier'
					type='text'
					class='p-0 text-4xl text-center my-5 w-full font-title  font-bold tracking-tighter bg-transparent lg:text-5xl focus:outline-none'
					placeholder='[Carrera profesional]'
					name='carrier'
					autocomplete='off'
				/>
			)
		}
		<p>
			con validez en todo el territorio nacional, que faculta al interesado para
			disfrutar los derechos que a este título otorgan las disposiciones
			vigentes.
		</p>
		<span class='block my-10 text-right italic'
			>Otorgado el <time datetime={date.toISOString()}
				>{date.format('DD [de] MMMM [del] YYYY')}</time
			></span
		>
	</main>
	<footer class='flex justify-around items-center text-base'>
		<div class='flex flex-col items-center'>
			<Image
				class='w-auto h-20 lg:h-36'
				src={firmaSideral}
				alt='Firma Sideral'
				width={300}
				height={145}
			/>
			<b class='tracking-tight'>Jesús Andrés Luján Carrión</b>
			<span>Rector de la universidad</span>
		</div>
		<div class='flex flex-col items-center'>
			<Image
				class='w-auto h-20 lg:h-36'
				src={firmaJona}
				alt='Firma Jona'
				width={300}
				height={145}
			/>
			<b class='tracking-tight'>Jona Roma Mar</b>
			<span>Supervisor de títulos</span>
		</div>
	</footer>
</div>

<style>
	@font-face {
		font-family: 'Bold Ayres';
		src: url('/fonts/BoldAyres.ttf');
	}

	@font-face {
		font-family: 'Bodoni Elegant';
		src: url('/fonts/BodoniElegant.otf');
	}

	@font-face {
		font-family: 'Kievit Serif';
		src: url('/fonts/KievitSerif.ttf');
	}
</style>
